
footer {
    background-color: #eef3f7;
    padding: 30px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo {
    flex: 1;
    min-width: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.footer-logo img {
    max-width: 150px;
}

.social-icons-footer {
    /* margin-top: 34px; */
    margin-top: 10px;
}

.social-icons a img {
    width: 50px;
    margin: 5px;
}
.social-icons-footer a i {
    font-size: 1.8em; /* Adjust this value as needed */
    margin-top: 10px;
}

.footer-links {
    flex: 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h2 {
    font-size: 1.9rem;
    color: black;
   
}

.column {
    min-width: 200px;
}

.column h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.column ul {
    list-style: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 8px;
}

.column ul li a {
    text-decoration: none;
    color: #333;
}

.support {
    flex: 1;
    text-align: center;
    margin-top: 20px;
}

.support h3 {
    font-size: 16px;
}

.support a {
    text-decoration: none;
    color: #007bff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    color: #666;
}
