<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <title>EPDC News India</title>
    <link
      rel="icon"
      type="image/png"
      href="images/globe-removebg-preview.png"
    />

    <style></style>
    <link rel="stylesheet" href="header.css" />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-H8R8GZQGKK"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-H8R8GZQGKK");
    </script>
  </head>

  <body>
    <div id="overlay" onclick="closeSidebar()"></div>

    <div class="mainheader">
      <div id="logo-container">
        <a href="/">
          <img src="/images/globe-removebg-preview.png" alt="EPDC News Logo" />
        </a>
      </div>

      <div class="middle-container">
        <h1>Environment Protection Development Council-EPDC</h1>
        <div class="sub-container" style="display: flex; padding-top: 3px">
          <div class="date" id="date">
            <i class="fa-regular fa-calendar-days" style="color: #574ae2"></i>
            <span id="currentDate"></span>
          </div>
          <script>
            const dateElement = document.getElementById("currentDate");

            const today = new Date();

            // Get parts of the date
            const weekday = today.toLocaleDateString("en-US", {
              weekday: "long",
            });
            const monthDayYear = today.toLocaleDateString("en-US", {
              month: "long",
              day: "numeric",
              year: "numeric",
            });

            // Combine them with a line break and no comma
            dateElement.innerHTML = `${weekday}<br>${monthDayYear.replace(
              ",",
              ","
            )}`;
          </script>

          <div class="links">
            <div class="social-icons">
              <a href="https://whatsapp.com/channel/0029VaXQPYMIN9irM65HUp0y"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
              <a href="https://x.com/epdc225709?s=11"
                ><i class="fa-brands fa-twitter"></i
              ></a>
              <a
                href="https://www.facebook.com/share/167tSVQ9yY/?mibextid=wwXIfr"
                ><i class="fa-brands fa-facebook"></i
              ></a>

              <a
                href="https://www.instagram.com/environment_council/profilecard"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a href="https://t.me/epdcindia"
                ><i class="fa-brands fa-telegram"></i
              ></a>
              <a
                href="https://youtube.com/@environmentcouncil?si=2DBOX_u-20v-hitC"
                ><i class="fa-brands fa-youtube"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="right-container">
        <!-- Search Bar -->
        <div class="search-container">
          <input
            type="text"
            id="searchInput"
            placeholder="Search  "
            oninput="filterSuggestions()"
          />
          <button
            type="button"
            id="searchButton"
            onclick="redirectToCategory()"
          >
            <i class="fas fa-search"></i>
          </button>
          <!-- Dropdown Suggestions -->
          <div class="dropdown-suggestions" id="suggestionsDropdown">
            <ul id="suggestionsList"></ul>
          </div>
        </div>
      </div>

      <script>
        const categories = [
          "Andhrapradesh",
          "Telangana",
          "Movies",
          "Environment",
          "Sports",
          "Business",
          "Family",
          // "Gallery",
          "Prediction",
          "Health",
          // "Epaper",
          "Education",
        ];

        function filterSuggestions() {
          const input = document
            .getElementById("searchInput")
            .value.trim()
            .toLowerCase();
          const suggestionsList = document.getElementById("suggestionsList");
          const dropdown = document.getElementById("suggestionsDropdown");

          // Clear previous suggestions
          suggestionsList.innerHTML = "";

          if (input.length === 0) {
            dropdown.style.display = "none";
            return;
          }

          // Filter categories based on input
          const filteredCategories = categories.filter((category) =>
            category.toLowerCase().includes(input)
          );

          if (filteredCategories.length > 0) {
            filteredCategories.forEach((category) => {
              const li = document.createElement("li");
              li.textContent = category;
              li.onclick = () => {
                document.getElementById("searchInput").value = category;
                redirectToCategory();
                dropdown.style.display = "none";
              };
              suggestionsList.appendChild(li);
            });
            dropdown.style.display = "block";
          } else {
            dropdown.style.display = "none";
          }
        }

        function redirectToCategory() {
          const input = document.getElementById("searchInput").value.trim();
          if (input) {
            // Check if the input matches any category in the predefined list
            const isValidCategory = categories.some(
              (category) => category.toLowerCase() === input.toLowerCase()
            );

            if (isValidCategory) {
              // Redirect to the category page if the input is valid
              window.location.href = `/category?category=${encodeURIComponent(
                input
              )}`;
            } else {
              // Redirect to the home page if the input is not a valid category
              window.location.href = `/`;
            }
          }
        }
      </script>
    </div>

    <header>
      <div class="header-left">
        <button id="nav-btn" aria-label="Open navigation menu">
          <i class="fa-solid fa-bars"></i>
        </button>

        <div id="navbar-div">
          <ul>
            <li>
              <a href="/">హోం</a>
            </li>
            <li>
              <div class="dropdown">
                <button class="dropbtn">రాష్ట్రాలు</button>
                <div class="dropdown-content">
                  <a th:href="@{'/category?category=Andhrapradesh'}"
                    >ఆంధ్రప్రదేశ్</a
                  >
                  <a th:href="@{'/category?category=Telangana'}">తెలంగాణ</a>
                </div>
              </div>
            </li>
            <li>
              <a th:href="@{'/category?category=Movies'}">సినిమా</a>
            </li>
            <li>
              <a th:href="@{'/category?category=Environment'}">పర్యావరణం</a>
            </li>
            <li>
              <a th:href="@{'/category?category=Sports'}">క్రీడలు</a>
            </li>
            <li>
              <a th:href="@{'/category?category=Business'}">బిజినెస్</a>
            </li>
            <li>
              <a th:href="@{'/category?category=Family'}">ఫ్యామిలీ</a>
            </li>
            <li>
              <a href="/gallery">ఫొటోలు</a>
            </li>
            <!-- <li class="initially-hidden">
              <a href="">వీడియోలు</a>
            </li> -->

            <li>
              <a th:href="@{'/category?category=Health'}">హెల్త్‌</a>
            </li>

            
            <li>
              <a th:href="@{'/category?category=Education'}">ఎడ్యుకేషన్</a>
            </li>
            <li>
              <a href="/donation">డొనేషన్</a>
            </li>

            <li>
              <div class="dropdown">
                <button class="dropbtn">ఇంకా</button>
                <div class="dropdown-content">
                  <a th:href="@{'/category?category=Prediction'}">దిన ఫలాలు</a>
                </div>
              </div>
            </li>

            <li>
              <!-- <a href="https://blogs.epdcindia.com" target="_blank">బ్లాగ్</a> -->
              <a href="https://blogs.epdcindia.com" target="_blank">బ్లాగ్</a>
            </li>

            <li>
              <a href="https://magazine.epdcindia.com/" target="_blank"
                >మ్యాగజైన్</a
              >
            </li>

            <li>
              <a
                href="https://epaper.epdcindia.com/"
                target="_blank"
                id="epaper"
                >ఈ-పేపర్</a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- <div class="social-icons">
        <a href="https://whatsapp.com/channel/0029VaXQPYMIN9irM65HUp0y"
          ><i class="fa-brands fa-whatsapp"></i
        ></a>
        <a href="https://www.facebook.com/share/167tSVQ9yY/?mibextid=wwXIfr"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="https://x.com/epdc225709?s=11"
          ><i class="fa-brands fa-twitter"></i
        ></a>
        <a href="https://www.instagram.com/environment_council/profilecard"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://youtube.com/@environmentcouncil?si=2DBOX_u-20v-hitC"
          ><i class="fa-brands fa-youtube"></i
        ></a>
        <a href="https://t.me/epdcindia"
          ><i class="fa-brands fa-telegram"></i
        ></a>
      </div> -->
    </header>

    <div id="sidebar">
      <button id="sidebar-close" aria-label=" Close navigation menu">
        <i class="fa-solid fa-xmark"></i>
      </button>

      <!-- First Section -->
      <ul>
        <li><a href="/">హోం</a></li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">రాష్ట్రాలు</button>
            <div class="dropdown-content">
              <a th:href="@{'/category?category=Andhrapradesh'}"
                >ఆంధ్రప్రదేశ్</a
              >
              <a th:href="@{'/category?category=Telangana'}">తెలంగాణ</a>
            </div>
          </div>
        </li>
        <li><a th:href="@{'/category?category=Movies'}">సినిమా</a></li>
        <li><a th:href="@{'/category?category=Environment'}">పర్యావరణం</a></li>
      </ul>

      <!-- Second Section -->
      <ul>
        <li><a th:href="@{'/category?category=Sports'}">క్రీడలు</a></li>
        <li><a th:href="@{'/category?category=Business'}">బిజినెస్</a></li>
        <li><a th:href="@{'/category?category=Family'}">ఫ్యామిలీ</a></li>
        <li><a href="/gallery">ఫొటోలు</a></li>
      </ul>

      <!-- Third Section -->
      <ul>
        <li><a th:href="@{'/category?category=Health'}">హెల్త్‌</a></li>

        <li><a th:href="@{'/category?category=Education'}">ఎడ్యుకేషన్</a></li>
        <li><a href="/donation">డొనేషన్</a></li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">ఇంకా</button>
            <div class="dropdown-content">
              <a th:href="@{'/category?category=Prediction'}">దిన ఫలాలు</a>
            </div>
          </div>
        </li>

         <li>
          <a href="https://blogs.epdcindia.com" target="_blank">బ్లాగ్</a>
          <!-- <a th:href="https://blogs.epdcindia.com">బ్లాగ్</a> -->
        </li>
        <li>
          <a href="https://magazine.epdcindia.com/" target="_blank"
            >మ్యాగజైన్</a
          >
        </li>
        <li>
          <a href="https://epaper.epdcindia.com/" target="_blank">ఈ-పేపర్</a>
        </li>
      </ul>

      <!-- Social Media Links -->
      <ul class="sidebar-social">
        <li>
          <a href="https://whatsapp.com/channel/0029VaXQPYMIN9irM65HUp0y"
            ><i class="fa-brands fa-whatsapp"></i> whatsapp</a
          >
        </li>

        <li>
          <a href="https://x.com/epdc225709?s=11"
            ><i class="fa-brands fa-twitter"></i> Twitter</a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/share/167tSVQ9yY/?mibextid=wwXIfr"
            ><i class="fa-brands fa-facebook"></i> Facebook</a
          >
        </li>

        <li>
          <a href="https://www.instagram.com/environment_council/profilecard">
            <i class="fa-brands fa-instagram"></i> Instagram
          </a>
        </li>
        <li>
          <a href="https://t.me/epdcindia">
            <i class="fa-brands fa-telegram"></i> Telegram
          </a>
        </li>
        <li>
          <a href="https://youtube.com/@environmentcouncil?si=2DBOX_u-20v-hitC">
            <i class="fa-brands fa-youtube"></i> YouTube
          </a>
        </li>
      </ul>
    </div>

    <div class="container-main">
      <div class="ad-banner">
        <div class="scroll-wrapper">
          <div class="breaking-button">Breaking News</div>
          <div class="scrolling-text">
            <div th:each="content : ${contentList}">
              <a
                th:href="@{/detailsadd/{id}(id=${content.id}, addtext='true')}"
                style="color: black"
              >
                <span
                  th:text="${#strings.abbreviate(content.addText, 100)}"
                ></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const navBtn = document.getElementById("nav-btn");
      const sidebar = document.getElementById("sidebar");
      const sidebarClose = document.getElementById("sidebar-close");
      const overlay = document.getElementById("overlay");

      function openSidebar() {
        sidebar.classList.add("active");
        overlay.style.display = "block";
        document.body.style.overflow = "hidden";
      }

      function closeSidebar() {
        sidebar.classList.remove("active");
        overlay.style.display = "none";
        document.body.style.overflow = "auto";
      }

      navBtn.addEventListener("click", openSidebar);
      sidebarClose.addEventListener("click", closeSidebar);
    </script>
    <script
      src="https://kit.fontawesome.com/109a493327.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
